/* TABLE OF CONTENT 

=> Custom Variables
=> Basic Reset
=> Utility Classes

*/

/*************************
All custom properties start here 
***************************/

:root {
    /* Background color variables */
    --bg-color-deepOrange: #E79585;
    --bg-color-lighterOrange: #FBB791;
    --bg-color-lightOrange: #F4A58C;

    /* Text color variables */
    --color-grey: #47535dbf;
    --color-white: #fff;
    --color-white2: rgba(255,255,255, .2);
    --color-black: rgba(0,0,0, .2);

    /* Font family variables*/
    --font-familyHead: poppins, sans-serif;
    --font-familyText: poppins, sans-serif 
}

/* Custom properties stop here */

/*************************
 Basic Reset Starts 
**************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* setting 1rem = 10px */
html {
    font-size: 62.5%;  
}

/* Basic Reset Ends */

/*************************
Body Styles
**************************/

body {
    font-size: 1.6rem;
    font-family: var(--font-familyText);
}

.header {
   width: 100vw;
   height: 100vh;
   background-color: var(--bg-color-deepOrange);
}

 .navigation {
    height: 8.5rem;
    background-image: linear-gradient(to right, var(--bg-color-deepOrange), var(--bg-color-lighterOrange), var(--bg-color-lightOrange));
    border-bottom: 1px solid var(--color-white2);
} 


 .nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 100%;
}


.nav-logo {
    display:flex;
} 

 .nav__logo {
    margin-right: 1rem;
    display:block;
} 

 .nav__logo-caption{
    color: var(--color-white);
    align-self: center;
    font-weight: 600;
    font-size: 2rem;
}

.nav-center {
    flex-shrink: 1;
} 

.nav-right {
    flex-shrink: 1;
}

 .nav-links{
    list-style: none;
}



.nav-center .list-items{
    display: inline-block;
    padding: .8rem 1.2rem;
    
}

.list-items {
    border-radius: 10px;
    transition:background .2s ease-in-out;
}

.list-items:hover{
    background: var(--color-black);
}

.list-items--right {
    display: block;
}



.list-items__link {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}
/*Body Styles ends */


/*************************
Components
**************************/

/* Button components */
.btn__primary {
    padding: 1.1rem 3rem;
    background-color: #000;
    border-radius: 10px;
} 

.btn__secondary {
    padding: 1rem;
    border: 1px solid var(--color-white);
    border-radius: 10px;
} 
/* Button components end */


/* Components end here */


/*************************
Utility Classes 
**************************/

.flex {
    display: flex;
} 

.doublemag {
    margin-right: 1rem !important;
    padding: 0 !important;
}

/* Utility Classes Ends */

 
